.container-X {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    align-items: center;
    margin: auto;
    width: auto;
    /* margin-top: 10%; */
}
.items {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: auto;
}
.watch {
    background-color: red;
    width: 250px;
    height: 250px;
    margin: 0 10px;
    /* box-sizing: border-box; */
    
}
.watch:hover .overlay{
    /* background-color: aqua; */
    opacity: 1;
    margin-left: 5%;
    transition: 1s;
}
.name p {
    margin-bottom: 0px;
}
.info {
    text-align: center;
}
.shoe {
    background-color: green;
    width: 250px;
    height: 250px;
    margin: 0 10px;
    /* box-sizing: border-box; */
}
.shoe:hover .overlay{
    /* background-color: aqua; */
    opacity: 1;
}
.shirt {
    background-color: blue;
    width: 250px;
    height: 250px;
    margin: 0 10px;
    /* box-sizing: border-box; */
    
}
.shirt:hover .overlay{
    /* background-color: aqua; */
    opacity: 1;
}
.cap {
    background-color: yellow;
    width: 250px;
    height: 250px;
    margin: 0 10px;
    /* box-sizing: border-box; */
}
.cap:hover .overlay{
    /* background-color: aqua; */
    opacity: 1;
}
.overlay {
    display: flex;
    flex-direction: column;
    width: fit-content;
    opacity: 0;
}
