 :root{
    --cyan: hsl(179, 72%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --header-subtitle: #BFDF32;
    --bg-sub: #2BB3B1;
    --bg-details: #4ABEBD;
 }

 body{
    font-family: 'Karla', sans-serif;
    background-color: var(--light-gray);
 }
 .container{
    margin: auto;
 }
 .main{
     max-width: 324px;
     margin: auto;
 }
 .details{
     padding: 1rem 1.3rem 2rem 1.3rem;
     height: 235px;
     background-color: white;
 }
 .details_title{
    padding-bottom: .8rem;
    font-size: 24px;
    font-weight: bolder;
    color: var(--cyan);
 }