:root {
    --cyan: hsl(179, 72%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --header-subtitle: #BFDF32;
    --bg-sub: #2BB3B1;
    --bg-details: #4ABEBD;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: var(--light-gray);
}

.container {
    margin: auto;
}

.main {
    /* max-width: 324px; */
    margin: 0 auto;
}

.description {
    padding: 1rem 1.3rem 2rem 1.3rem;
    height: 235px;
    background-color: white;
}

.description__title {
    padding-bottom: .8rem;
    font-size: 24px;
    font-weight: bolder;
    color: var(--cyan);
}

.description__subtitle {
    padding-bottom: .3rem;
    font-size: 17px;
    color: var(--bright-yellow);
    font-weight: bolder;
    line-height: 1.5;
}

.description__text {
    font-size: 15px;
    font-weight: 400;
    color: var(--grayish-blue);
    line-height: 1.5;
}

/* Subscription */
.sub, 
.details {
    color: white;
    padding: 1rem 1.5rem;
}

.sub {
    background-color: var(--bg-sub);
    height: 212px;  
}

.sub__title {
    font-size: 20px;
    font-weight: 400;
}
.sub__price {
    font-size: 25px;
    font-weight: 400;
}

.sub__time {
    color: rgb(188, 223, 240);
}
.sub__text {
    font-size: 15px;
    padding-bottom: 1rem;
}

.sub__sign {
    display: block;
    width: 264px;
    height: 30px;
    padding-top: .9rem;
    padding-bottom: .1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    background-color: var(--bright-yellow);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* why us */
.details {
    background-color: var(--bg-details);
    height: 240px;
    margin-bottom: 2rem;
    padding-bottom: 0;
}

.details__title {
    font-size: 20px;
    font-weight: lighter;
}

.list {
    list-style-type: none;
    font-style: normal;
    font-size: 15px;
    padding-left: 0;
    font-weight: lighter;
    line-height: 1.5;
    color: rgb(188, 223, 240);
} 
.new{
    height: 300px;
    width: 600px;
    background-color: red;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}
.new1{
}
.outline{
    border:  1px solid white ;
    width: 20px;
    width: 100px;
    height: 20px;
    background-color: green;
}